.card {
  max-width: 40rem;
  height: 20rem;
  border: 1px solid red;
}

.card__result {
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--lightSlateBlue);
  text-align: center;
}

.card__content {
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.card__content--title{
  text-align: left;
  width: 100%;
}

.card__content--list {
  flex-direction: column;
  gap: 1rem;
}

.card__content--element{
 gap: 3rem;
}

.card__content--reaction {
  color: var(--lightRed);
}

.card__content--memory {
  color: var(--orangeYellow);
}

.card__content--verbal {
  color: var(--greenTeal);
}
.card__content--visual {
  color: var(--cobaltBlue);
}

.card__content--button{
  color: var(--white);
  background-color: var(--violetBlue);
}
